<div class="container">
<% if user_post_errors.errors.any? %>
    <h3>
        <%= pluralize(user_post_errors.errors.count, "error") %>
        preventing this post from being saved:
    </h3>
    <ol>
        <% user_post_errors.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ol>
<% end %>
</div>