<br><br>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Date Posted</th>
                <th>Item Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <% @post.each do |post| %>
            <tr>
                <td><%=date_created(post)%></td>
                <td><%=link_to "#{post.name} - (#{post.location.city}, #{post.location.state})", post_path(post)%></td>
                <td><%="$ #{post.price}"%></td>
            </tr>
            <%end %>

        </tbody>
    </table>
</div>